<div class="container">
    <h1 ng-bind="page.title" class="page-title"></h1>
    <form ng-controller="ContactController" name="contactForm" ng-submit="submitForm(contactForm.$valid)" novalidate>
        <fieldset ng-disabled="isSaving">
            <div class="row">
                <div class="six columns">
                    <label for="email">Your email</label>
                    <input ng-model="contact.email" class="u-full-width" placeholder="test@mailbox.com" id="email" type="email" required>
                    <p ng-show="(contactForm.email.$error.email || contactForm.email.$error.required ) && contactForm.email.$touched" class="help-block">A valid email is required.</p>
                </div>
                <div class="six columns">
                    <label for="name">Your name</label>
                    <input ng-model="contact.name" class="u-full-width" placeholder="John Smith" id="name" type="text" required>
                    <p ng-show="contactForm.name.$error.required && contactForm.name.$touched" class="help-block">You email is required.</p>
                </div>
            </div>
            <label for="message">Message</label>
            <textarea ng-model="contact.message" name="message" class="u-full-width" placeholder="Hi Sam …" id="message" required></textarea>
            <p ng-show="contactForm.message.$invalid && contactForm.message.$touched" class="help-block">You message is required.</p>
            <input ng-disabled="contactForm.$invalid" class="button-primary" value="Submit" type="submit">
        </fieldset>
    </form>
    <div ng-bind-html="page.content"></div>
</div>