<div class="container">
    <div class="row">
        <div class="col s12 m6 l3" ng-repeat="post in posts">
            <div class="card">
                <div class="card-image">
                    <a href="/gallery/{{post.slug}}"><img ng-src="{{ post.thumbnail_images.thumbnail.url != '' && post.thumbnail_images.thumbnail.url || defaultThumb }}" data-caption="{{ post.title }}" alt="{{ post.title }}"/></a>
                </div>
                <div class="card-action">
                    <a href="/gallery/{{post.slug}}">View Image</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="paging.pages > 1" class="container">
    <div class="row">
        <ul class="pagination">
            <li>
                <a class="button button-round u-pull-left" ng-show="prev > 0" ng-href="{{ prevLink }}">
                    <i class="fa fa-arrow-left"></i>
                </a>
            </li>
            <li class="active"><a>{{ page }}</a></li>
            <li>
                <a class="button button-round u-pull-right" ng-show="next <= paging.pages" ng-href="{{ nextLink }}">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>