<div ng-if="post.post.thumbnail_images.thumbnail.url" class="container-fluid">
    <div class="post-image">
        <img class="u-max-full-width" ng-src="{{ post.post.thumbnail_images.full.url }}"/>
        <a ng-if="post.previous_url !== undefined" class="left overlay" href="{{ post.previous_url }}"></a>
        <div class="overlay middle" ng-click="escape()"></div>
        <a ng-if="post.next_url !== undefined" class="right overlay" href="{{ post.next_url }}"></a>
    </div>
</div>
<div ng-if="!post.post.thumbnail_images.thumbnail.url" class="container">
    <div class="row">
        <div class="post-content">
            <h1 class="page-title">{{ post.post.title }}</h1>

            <div ng-bind-html="post.post.content"></div>
        </div>
    </div>
</div>